In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
df_apps = pd.read_csv('EDA_df.csv')

In [37]:
df_apps.head()

,Unnamed: 0,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated
0,0,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,"January 7, 2018"
1,1,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,"January 15, 2018"
2,2,ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,"August 1, 2018"
3,3,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,"June 8, 2018"
4,4,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,"June 20, 2018"

In [38]:
df_apps.drop('Unnamed: 0', axis=1, inplace=True)

In [39]:
df_apps.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated
0,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,"January 7, 2018"
1,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,"January 15, 2018"
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,"August 1, 2018"
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,"June 8, 2018"
4,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,"June 20, 2018"

In [40]:
df_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10840 non-null  object
 1   Rating          9366 non-null   float64
 2   Reviews         10840 non-null  int64
 3   Size            9145 non-null   float64
 4   Installs        10840 non-null  int64
 5   Type            10839 non-null  object
 6   Price           10840 non-null  float64
 7   Content Rating  10840 non-null  object
 8   Last Updated    10840 non-null  object
dtypes: float64(3), int64(2), object(4)
memory usage: 762.3+ KB

In [41]:
df_apps.describe()

            Rating       Reviews         Size      Installs         Price
count  9366.000000  1.084000e+04  9145.000000  1.084000e+04  10840.000000
mean      4.191757  4.441529e+05    37.035440  1.546434e+07      1.027368
std       0.515219  2.927761e+06    98.873769  8.502936e+07     15.949703
min       1.000000  0.000000e+00     1.000000  0.000000e+00      0.000000
25%       4.000000  3.800000e+01     5.600000  1.000000e+03      0.000000
50%       4.300000  2.094000e+03    15.000000  1.000000e+05      0.000000
75%       4.500000  5.477550e+04    34.000000  5.000000e+06      0.000000
max       5.000000  7.815831e+07  1020.000000  1.000000e+09    400.000000

In [42]:
df_apps.dropna(inplace=True)

In [44]:
df_apps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7729 entries, 0 to 10839
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        7729 non-null   object
 1   Rating          7729 non-null   float64
 2   Reviews         7729 non-null   int64
 3   Size            7729 non-null   float64
 4   Installs        7729 non-null   int64
 5   Type            7729 non-null   object
 6   Price           7729 non-null   float64
 7   Content Rating  7729 non-null   object
 8   Last Updated    7729 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 603.8+ KB

In [45]:
df_apps.describe()

            Rating       Reviews         Size      Installs        Price
count  7729.000000  7.729000e+03  7729.000000  7.729000e+03  7729.000000
mean      4.173852  2.946726e+05    37.284513  8.417734e+06     1.127614
std       0.544563  1.863227e+06    93.509493  5.013846e+07    17.401297
min       1.000000  1.000000e+00     1.000000  1.000000e+00     0.000000
25%       4.000000  1.080000e+02     6.100000  1.000000e+04     0.000000
50%       4.300000  2.328000e+03    16.000000  1.000000e+05     0.000000
75%       4.500000  3.896100e+04    37.000000  1.000000e+06     0.000000
max       5.000000  4.489389e+07   994.000000  1.000000e+09   400.000000

In [53]:
df_apps[['Category','Type','Content Rating','Last Updated']] = df_apps[['Category','Type',
                                                                        'Content Rating','Last Updated']].astype('category')
df_copy = df_apps.copy()
cat_columns = df_copy.select_dtypes(['category']).columns
df_copy[cat_columns] = df_copy[cat_columns].apply(lambda x: x.cat.codes)

In [60]:
sns.heatmap(df_apps)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''